.container {
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  padding: 1rem;
  position: absolute;

  &__link {
    height: 1.5rem;
    padding: 0 .5rem 0 .5rem;
    width: 1.5rem;
  }
}
