.button {
  align-items: center;
  background-color: black;
  border-radius: 2rem;
  bottom: 1rem;
  display: flex;
  height: 3rem;
  justify-content: center;
  position: fixed;
  right: 1rem;
  width: 3rem;
  z-index: 100;

  .arrow {
    border-bottom:2px solid white;
    border-right: 2px solid white;
    height: .6rem;
    transform: rotate(45deg);
    transition: all .25s ease-in;
    width: .6rem;
  }

  .flip {
    transform: rotate(-135deg);
  }
}
