.job-description-container {
  display: flex;
  max-width: 1024px;
  padding-bottom: 4rem;

  &__description {
    font-size: 18px;

    &--timeframe {
      font-weight: 200;
      margin-top: 0;
    }

    &--title {
      margin-bottom: 0;
    }

    @media (min-width: 576px) {
      font-size: 20px;
    }

    @media (min-width: 1024px) {
      font-size: 22px;
    }
  }

  &__logo {
    display: none;
    padding-right: 3rem;
    padding-top: 1.5rem;
    min-width: 160px;
    z-index: -1;

    @media (min-width: 576px) {
      display: unset;
    }
  }
}